
body{
    margin: 0;
    background: linear-gradient(to bottom,hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Kumbh Sans',sans-serif;
}

.center-flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-faq-card{
    width: 62em;
    height: 33em;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    display: flex;
    animation: scale 1s forwards;
}

@keyframes scale{
    from{
        opacity: 0.5;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.patterns{
    overflow: hidden;
    width: 50%;
    height: 100%;
    position: relative;
}

.patterns img:nth-child(1){
    position: absolute;
    top: -19em;
    left: -33em;
    width: 61em;
    height: 60em;
    object-fit: contain;
    animation: opacity 4s forwards;
}

.patterns img:nth-child(2){
    position: absolute;
    top: 2em;
    left: -5.8em;
    width: 33.2rem;
    height: auto;
    animation: opacity 4s forwards;
}

.center-faq-card .box-image{
    position: absolute;
    top: 11.5em;
    left: -9.3em;
    width: 21.5%;
    height: auto;
    opacity: 0;
    animation: box 1s forwards;
    animation-delay: 0.6s;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes box {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.faq{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0;
    animation: opacity 1s forwards;
    animation-delay: 0.5s;
}

.faq h1{
    color: hsl(237, 12%, 33%);
}

.faq-content{
    overflow: hidden;
    overflow-y: auto;
    min-height: fit-content;
}

.faq-content, .content{
    width: 90%;
}

.content-head{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.content-head p{
    color: hsl(238, 29%, 16%);
    transition-duration: 1s;
}

.content-head img{
    object-fit: contain;
    transition-duration: 1s;
}

.first-content-body,
.second-content-body,
.three-content-body,
.four-content-body,
.five-content-body{
    overflow: hidden;
    height: 0;
    transition-duration: 500ms;
} 

.hidden{
    height: 0;
    transition-duration: 500ms;
}

.first-content-body p,
.second-content-body p,
.three-content-body p,
.four-content-body p,
.five-content-body p{
    margin-top: 0;
    font-size: 0.8rem;
    color: hsl(240, 6%, 50%);
    font-weight: 400;
    transition-duration: 1s;
} 

label{
    color: hsl(240, 6%, 50%);
    font-weight: 400;
    font-size: 0.9rem;
    transition-duration: 1s;
}

label p{
    transition-duration: 1s;
}

label:hover p{
    color: hsl(14, 88%, 65%);
}

label:hover #box-image{
    left: 40rem;
}

.quest-check:checked ~ .ans{
    height: 40px;
}

.quest-check:checked ~ label p{
    font-weight: 700;
}

.quest-check:checked ~ label img{
     transform: rotate(180deg);
}

.divider{
    width: 100%;
    height: 1.5px;
    background-color: hsl(240, 5%, 91%);
}

.mobile-patterns{
    display: none;
}

@media only screen and (max-width: 768px) {

      .center-faq-card .box-image{
        display: none;
    }

    .patterns{
        display: none;
    }

    .mobile-patterns{
        display: block;
        position: absolute;
        width: 100%;
        opacity: 0;
        animation: opacity 1s forwards;
        animation-delay: 1s;

    }

    .mobile-patterns img:nth-child(1){
         top: -22px;
        left: 8px;
        width: 55%!important;
    }
    
    .mobile-patterns img:nth-child(2){
        top: -165px;
        left: -34px;
    }

    .mobile-patterns img:nth-child(2),
    .mobile-patterns img:nth-child(1){
        position: absolute;
        right: 0;
        margin: auto;
        width: 60%;
        height: auto;
        object-fit: contain;
    }

    .faq{
        width: 100%;
        align-items: center;
        padding-top: 10em;
        padding-bottom: 2em;
    }

    .faq-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
    }

    .center-faq-card{
        width: 90%;
        height: fit-content;
        margin-top: 6em;
    }

    .center-flexbox{
        overflow-y: visible;
        padding-top: 5em;
        padding-bottom: 5em;
        height: 100%;
        min-height: calc(100vh - 10em);
    }
}


@media only screen and (max-width: 600px) {

      .center-faq-card .box-image{
        display: none;
    }

    .patterns{
        display: none;
    }

    .mobile-patterns{
        display: block;
        position: absolute;
        width: 100%;
        opacity: 0;
        animation: opacity 1s forwards;
        animation-delay: 1s;
    }

    .mobile-patterns img:nth-child(1){
        top: -6px;
        left: 0px;
        width: 80%!important;
    }
    
    .mobile-patterns img:nth-child(2){
        top: -122px;
        left: -34px;
    }

    .mobile-patterns img:nth-child(2),
    .mobile-patterns img:nth-child(1){
        position: absolute;
        right: 0;
        margin: auto;
        width: 90%;
        height: auto;
        object-fit: contain;
    }

    .faq{
        width: 100%;
        align-items: center;
        padding-top: 8em;
        padding-bottom: 2em;
    }

    .faq-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
    }

    .center-faq-card{
        width: 90%;
        height: fit-content;
        margin-top: 4em;
    }

    .center-flexbox{
        overflow-y: visible;
        padding-top: 5em;
        padding-bottom: 5em;
        height: 100%;
        min-height: calc(100vh - 10em);
    }
}

@media only screen and (max-width: 1024px) {
    .center-faq-card .box-image{
        left: -4.3em;
    }
}